@model IEnumerable<PetClinic.Data.ViewModels.OwnerViewModel>

@foreach (var Owner in Model)
{
    <tr>
        <td><a href="@Url.Action("Edit", "Owners", new { id = @Owner.Id })">@Owner.Name</a></td>
        <td>@Owner.PetsCount</td>
    </tr>
}